.road-map div:not(.head-line) {
  width: 1128px;
  border: 2px solid #26016f;
  margin: 1vh auto;
  text-align: left;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .road-map div:not(.head-line) {
    width: 928px;
  }
}
@media screen and (max-width: 990px) {
  .road-map div:not(.head-line) {
    width: 708px;
  }
}
@media screen and (max-width: 768px) {
  .road-map div:not(.head-line) {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .road-map div:not(.head-line) {
    width: 300px;
  }
}
