.about-text-p {
  margin: 4vh 0 0 0;
}
.road-map-span {
  color: #26016f;
  font-size: 18px;
  font-family: "Damias_Hands";
}
.road-map-p {
  margin-bottom: 0;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
