.price-div {
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  background-image: url("/src/assets/images/dsda.jpg");
  /* height: 10vh; */
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.price-div h1 {
  width: 35%;
  font-size: 36px;
  color: white;
  font-family: "Damias_Hands";
}
.price-div h1:nth-child(2) {
  font-size: 48px;
}
@media screen and (max-width: 990px) {
  .price-div {
    display: none;
  }
}
