@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.shuffle-image {
  margin: 5vh auto 20vh auto;
  /* width: 390px; */
  width: 350px;
}

.connect-wallet {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  color: #8463ed !important;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  padding: 15px 50px;
  margin-top: 2vh;
}
.connect-wallet:hover {
  background-color: #ab94f8;
  cursor: pointer;
}
.img-container {
  object-fit: contain;
  width: 350px;
  height: 380px;
}
.slider-image {
  /* width: 35vw !important; */
}
.slider-image.background1 {
  background-color: gray;
}
.slider-image.background2 {
  background-color: rgb(136, 65, 143);
}
.slider-image.background3 {
  background-color: rgb(197, 107, 197);
}
