.App {
  text-align: center;
}
@font-face {
  font-family: "Damias_Hands";
  src: url("/src/assets/Damia's_Hand.ttf") format("truetype");
}
.banner {
  background-image: url("/src/assets/images/banner.jpg");
  background-size: cover;
  height: 80% !important;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  /* top: -100px; */
  z-index: -1;
  width: 100%;
}
